.box{
    width: 500px;
    height: 250px;
    background-color: blueviolet;
    border-radius: 45px;
}
.content{
    width: 350px;
    height: 200px;
    background-color:cadetblue;
    border-radius: 4px;
    margin: auto;
    
}
.content:hover{
    width: 240px;
    height: 200px;
    background-color: rgb(246, 148, 2);
    border-radius: 100px;
}

.cccc{
    width: 300px;
    height: 150px;
    background-color:rgb(19, 52, 80);
    margin:50px auto;
    border-radius: 10px;
}